.container {
  width: 100%;
  height: auto;
  background-color: rgb(238, 238, 238);
  padding-inline: 2rem;
  box-shadow: 0 0 1rem -0.6rem black;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 1rem;
}

@media (max-width: 546px) {
  .links {
    font-size: 0.9rem;
  }
}

@media (max-width: 468px) {
  .links {
    font-size: 1.1rem;
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
  }
}
